.gameonbutton,
.musiconbutton,
.techonbutton {
    background-color: rgb(229, 226, 226);
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 7px;
}
.is-toggled{
    background-color: black;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 7px;
}